In [286]:
import json
import pandas as pd
import requests
import numpy as np

In [287]:
n_page = 4

In [288]:
uri = 'https://swapi.dev/api/starships'

In [330]:
url = uri
if n_page > 1:
    url = f'{uri}/?page={str(n_page)}'
    
url

'https://swapi.dev/api/starships/?page=4'

In [331]:
r = requests.get(url)

# CODE REFECTORING

In [329]:
def fetch_starship(n_page):
    url = f'https://swapi.dev/api/starships'
    if n_page > 0:
        url = f'{uri}/?page={str(n_page)}'
    r = requests.get(url)
    if r.status_code == 200:
        data = r.json()
        results_list = data['results']
        return results_list
    else:
        return None

In [309]:
starship_list = fetch_starship(4)
starship_list

[{'name': 'Naboo star skiff',
  'model': 'J-type star skiff',
  'manufacturer': 'Theed Palace Space Vessel Engineering Corps/Nubia Star Drives, Incorporated',
  'cost_in_credits': 'unknown',
  'length': '29.2',
  'max_atmosphering_speed': '1050',
  'crew': '3',
  'passengers': '3',
  'cargo_capacity': 'unknown',
  'consumables': 'unknown',
  'hyperdrive_rating': '0.5',
  'MGLT': 'unknown',
  'starship_class': 'yacht',
  'pilots': ['https://swapi.dev/api/people/10/',
   'https://swapi.dev/api/people/35/'],
  'films': ['https://swapi.dev/api/films/6/'],
  'created': '2014-12-20T19:55:15.396000Z',
  'edited': '2014-12-20T21:23:49.948000Z',
  'url': 'https://swapi.dev/api/starships/64/'},
 {'name': 'Jedi Interceptor',
  'model': 'Eta-2 Actis-class light interceptor',
  'manufacturer': 'Kuat Systems Engineering',
  'cost_in_credits': '320000',
  'length': '5.47',
  'max_atmosphering_speed': '1500',
  'crew': '1',
  'passengers': '0',
  'cargo_capacity': '60',
  'consumables': '2 days',
  'hyperdrive_rating': '1.0',
  'MGLT': 'unknown',
  'starship_class': 'starfighter',
  'pilots': ['https://swapi.dev/api/people/10/',
   'https://swapi.dev/api/people/11/'],
  'films': ['https://swapi.dev/api/films/6/'],
  'created': '2014-12-20T19:56:57.468000Z',
  'edited': '2014-12-20T21:23:49.951000Z',
  'url': 'https://swapi.dev/api/starships/65/'},
 {'name': 'arc-170',
  'model': 'Aggressive Reconnaissance-170 starfighte',
  'manufacturer': 'Incom Corporation, Subpro Corporation',
  'cost_in_credits': '155000',
  'length': '14.5',
  'max_atmosphering_speed': '1000',
  'crew': '3',
  'passengers': '0',
  'cargo_capacity': '110',
  'consumables': '5 days',
  'hyperdrive_rating': '1.0',
  'MGLT': '100',
  'starship_class': 'starfighter',
  'pilots': [],
  'films': ['https://swapi.dev/api/films/6/'],
  'created': '2014-12-20T20:03:48.603000Z',
  'edited': '2014-12-20T21:23:49.953000Z',
  'url': 'https://swapi.dev/api/starships/66/'},
 {'name': 'Banking clan frigte',
  'model': 'Munificent-class star frigate',
  'manufacturer': 'Hoersch-Kessel Drive, Inc, Gwori Revolutionary Industries',
  'cost_in_credits': '57000000',
  'length': '825',
  'max_atmosphering_speed': 'unknown',
  'crew': '200',
  'passengers': 'unknown',
  'cargo_capacity': '40000000',
  'consumables': '2 years',
  'hyperdrive_rating': '1.0',
  'MGLT': 'unknown',
  'starship_class': 'cruiser',
  'pilots': [],
  'films': ['https://swapi.dev/api/films/6/'],
  'created': '2014-12-20T20:07:11.538000Z',
  'edited': '2014-12-20T21:23:49.956000Z',
  'url': 'https://swapi.dev/api/starships/68/'},
 {'name': 'Belbullab-22 starfighter',
  'model': 'Belbullab-22 starfighter',
  'manufacturer': 'Feethan Ottraw Scalable Assemblies',
  'cost_in_credits': '168000',
  'length': '6.71',
  'max_atmosphering_speed': '1100',
  'crew': '1',
  'passengers': '0',
  'cargo_capacity': '140',
  'consumables': '7 days',
  'hyperdrive_rating': '6',
  'MGLT': 'unknown',
  'starship_class': 'starfighter',
  'pilots': ['https://swapi.dev/api/people/10/',
   'https://swapi.dev/api/people/79/'],
  'films': ['https://swapi.dev/api/films/6/'],
  'created': '2014-12-20T20:38:05.031000Z',
  'edited': '2014-12-20T21:23:49.959000Z',
  'url': 'https://swapi.dev/api/starships/74/'},
 {'name': 'V-wing',
  'model': 'Alpha-3 Nimbus-class V-wing starfighter',
  'manufacturer': 'Kuat Systems Engineering',
  'cost_in_credits': '102500',
  'length': '7.9',
  'max_atmosphering_speed': '1050',
  'crew': '1',
  'passengers': '0',
  'cargo_capacity': '60',
  'consumables': '15 hours',
  'hyperdrive_rating': '1.0',
  'MGLT': 'unknown',
  'starship_class': 'starfighter',
  'pilots': [],
  'films': ['https://swapi.dev/api/films/6/'],
  'created': '2014-12-20T20:43:04.349000Z',
  'edited': '2014-12-20T21:23:49.961000Z',
  'url': 'https://swapi.dev/api/starships/75/'}]

In [332]:
columns = ['name','model','manufacturer','crew','passengers','starship_class']
starship_df = pd.DataFrame(columns=columns)
starship_df

Empty DataFrame
Columns: [name, model, manufacturer, crew, passengers, starship_class]
Index: []

In [311]:
for index, row in enumerate(starship_list):
    starship_df.loc[index,'name'] = row['name']
    starship_df.loc[index,'model'] = row['model']
    starship_df.loc[index,'manufacturer'] = row['manufacturer']
    starship_df.loc[index,'crew'] = row['crew']
    starship_df.loc[index,'passengers'] = row['passengers']
    starship_df.loc[index,'starship_class'] = row['starship_class']

In [312]:
starship_df

,name,model,manufacturer,crew,passengers,starship_class
0,Naboo star skiff,J-type star skiff,Theed Palace Space Vessel Engineering Corps/Nu...,3,3,yacht
1,Jedi Interceptor,Eta-2 Actis-class light interceptor,Kuat Systems Engineering,1,0,starfighter
2,arc-170,Aggressive Reconnaissance-170 starfighte,"Incom Corporation, Subpro Corporation",3,0,starfighter
3,Banking clan frigte,Munificent-class star frigate,"Hoersch-Kessel Drive, Inc, Gwori Revolutionary...",200,unknown,cruiser
4,Belbullab-22 starfighter,Belbullab-22 starfighter,Feethan Ottraw Scalable Assemblies,1,0,starfighter
5,V-wing,Alpha-3 Nimbus-class V-wing starfighter,Kuat Systems Engineering,1,0,starfighter